.aside-menu {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside-menu h2 {
    font-size: 1.2em;
}

.aside-menu li {
    font-size: 1em;
}

.my-favorite-places {
    display: flex;
    flex-direction: column;
}

#list-favorite-places {
    list-style: none
}

/* ====================== Responsive ====================== */

@media screen and (min-width:760px) {
    .aside-menu h2 {
        font-size: 2em;
    }
    .aside-menu li {
        font-size: 1.5em;
    }

    .search-form {
        font-size: 1.5em;
    }

    .search-form input {
        font-size: 1em;
    }
}