.aside-menu {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.search-form label,
input {
    padding: 0.5em;
}

.aside-menu h2 {
    font-size: 0.8em;
}

.aside-menu li {
    font-size: 1em;
}

.favorite-places {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#list-favorite-places {
    list-style: none
}