header {
    background-color: #222;
    height: 65px;
    color: white;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neighborhood-app-title {
    font-size: 1.3em;
    color: white;
}