html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.neighborhood-app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

body {
  box-sizing: border-box;
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.5;
  position: relative;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* ====================== Responsive ====================== */
