html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
}

.neighborhood-app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

body {
  box-sizing: border-box;
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.5;
  position: relative;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 0.8em;
}

/* ====================== Map style ====================== */

#map {
  width: 50%;
  height: calc(100% - 65px);
  left: 50%;
}

/* ====================== Responsive ====================== */

@media screen and (min-width:760px) {
  header {
    font-size: 4em;
  }

  .favorite-places h2 {
    font-size: 2em;
  }

  .aside-menu h2 {
      font-size: 2em;
  }
  .aside-menu li {
      font-size: 1.5em;
  }

  .search-form {
      font-size: 1.5em;
  }

  .search-form input {
      font-size: 1em;
  }
}